In [4]:
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import numpy as np

In [5]:
titanic_data = pd.read_csv(r"C:\Users\Kumar\FSDS-AIML\fsds_genai_agenticai\titanic_ dataset_final.csv")

In [6]:
titanic_data.shape

(891, 12)

In [6]:
titanic_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  891 non-null    int64
 1   Survived     891 non-null    int64
 2   Pclass       891 non-null    int64
 3   Name         891 non-null    object
 4   Sex          891 non-null    object
 5   Age          714 non-null    float64
 6   SibSp        891 non-null    int64
 7   Parch        891 non-null    int64
 8   Ticket       891 non-null    object
 9   Fare         891 non-null    float64
 10  Cabin        204 non-null    object
 11  Embarked     889 non-null    object
dtypes: float64(2), int64(5), object(5)
memory usage: 83.7+ KB

In [7]:
titanic_data['Age'].isnull().sum()

np.int64(177)

In [8]:
titanic_data.columns

Index(['PassengerId', 'Survived', 'Pclass', 'Name', 'Sex', 'Age', 'SibSp',
       'Parch', 'Ticket', 'Fare', 'Cabin', 'Embarked'],
      dtype='object')

In [10]:
import ollama
def generate_insights(titanic_data):
    prompt = f"Analyze the dataset summary and provide the insights : \n\n{titanic_data}"
    response = ollama.chat(model="llama3.2:3b", messages=[{"role":"user", "content" : prompt}])
    return response['message']['content']

summary = titanic_data.describe().to_string()
insights = generate_insights(summary)
print("\n AI generated data",insights)

 AI generated data Based on the provided dataset summary, here are some key insights:

1. **Passenger Distribution**: The dataset contains a total of 891 passengers, with an almost equal distribution between male and female (0.383838). This suggests that the data is representative of a diverse group of people.

2. **Class Distribution**: The Pclass column shows the social class of each passenger, ranging from 1st to 3rd class. The mean Pclass value is 2.308642, indicating that most passengers are in the middle-class category.

3. **Age Distribution**: The age range of passengers varies significantly, with a minimum of 0.420000 and a maximum of 80.000000. The mean age is 29.699118, suggesting that most passengers were adults during their voyage. However, some passengers were very young (e.g., 0.420000) or elderly.

4. **Family Structure**: The SibSp and Parch columns represent the number of siblings and parent children, respectively. Most passengers do not have any family members on board. This could indicate that many passengers traveled alone or had no dependents.

5. **Fare Distribution**: The Fare column shows a wide range of prices, from $0 to $512.329200. However, the mean fare is significantly lower (14.454200), indicating that most passengers were not paying high fares for their tickets. This suggests that there might be some outliers or anomalies in the data.

6. **Survival Rate**: The Survived column indicates whether each passenger survived the shipwreck or not. The survival rate is 38.383838%, which means that approximately 1 in 3 passengers did not survive.

7. **Age and Survival**: There seems to be a correlation between age and survival. Passengers who were older (above 30 years) had a higher chance of survival, while younger passengers were more likely to perish.

8. **Class and Survival**: There is no significant difference in the survival rate across different classes. However, first-class passengers did have a slightly higher chance of survival compared to third-class passengers.

These insights provide a general overview of the dataset's characteristics, but further analysis would be necessary to uncover more specific patterns and relationships within the data.

In [12]:
titanic_data.describe().to_string()

'       PassengerId    Survived      Pclass         Age       SibSp       Parch        Fare\ncount   891.000000  891.000000  891.000000  714.000000  891.000000  891.000000  891.000000\nmean    446.000000    0.383838    2.308642   29.699118    0.523008    0.381594   32.204208\nstd     257.353842    0.486592    0.836071   14.526497    1.102743    0.806057   49.693429\nmin       1.000000    0.000000    1.000000    0.420000    0.000000    0.000000    0.000000\n25%     223.500000    0.000000    2.000000   20.125000    0.000000    0.000000    7.910400\n50%     446.000000    0.000000    3.000000   28.000000    0.000000    0.000000   14.454200\n75%     668.500000    1.000000    3.000000   38.000000    1.000000    0.000000   31.000000\nmax     891.000000    1.000000    3.000000   80.000000    8.000000    6.000000  512.329200'