In [1]:
tup1 = ()
type(tup1)

tuple

In [2]:
tup1 = (1,2,3)  # creation of tuple with integers

In [3]:
print(tup1)

(1, 2, 3)

In [5]:
tup2 = (1.3,2.3,5.4) # creation of tuple with floats

In [6]:
tup3 = ('one','two', 'three', 'four') #tuple with strings

In [9]:
tup4 = ('one',(1,2),'two', 1.4) # nested tuples with different datatypes
print(tup4)

('one', (1, 2), 'two', 1.4)

tup5 = ('one', {'John', 'David'}, [1,2], 1.4, (4,5,6))

In [11]:
len(tup5) # length of tuple

5

Tuple Indexing

In [17]:
tup5[0]  #access the first element of tuple

'one'

In [14]:
tup5[1]

{'David', 'John'}

In [15]:
tup5[0][0] # access the first char of first element of tuple

'o'

In [18]:
tup5[-1] #access the last element of tuple

(4, 5, 6)

Tuple Slicing

In [19]:
tup6=('one','two','three','four','five','six','seven','eight')

In [20]:
tup6[:]

('one', 'two', 'three', 'four', 'five', 'six', 'seven', 'eight')

In [21]:
tup6[1:5]

('two', 'three', 'four', 'five')

In [25]:
tup6[-1:]

('eight',)

In [26]:
tup6[:-3]

('one', 'two', 'three', 'four', 'five')

In [27]:
tup6

('one', 'two', 'three', 'four', 'five', 'six', 'seven', 'eight')

In [28]:
del tup6[0] #tuple elements are immutable, cannot be updated or deleted

TypeError: 'tuple' object doesn't support item deletion

In [30]:
tup2

(1.3, 2.3, 5.4)

In [31]:
del tup2 #whole tuple can be deleted

In [32]:
tup2

NameError: name 'tup2' is not defined

Loop through Tuple

In [33]:
tup6

('one', 'two', 'three', 'four', 'five', 'six', 'seven', 'eight')

In [35]:
for i in tup6:  #loop tuples
    print(i)

one
two
three
four
five
six
seven
eight

In [36]:
for i in enumerate(tup6):
    print(i)

(0, 'one')
(1, 'two')
(2, 'three')
(3, 'four')
(4, 'five')
(5, 'six')
(6, 'seven')
(7, 'eight')

In [38]:
tup6.count('one')  # return the times of occurence of the element

1

In [39]:
'one' in tup6 #checking membership in tuple

True

In [40]:
tup6[0]

'one'

In [41]:
tup6.index('three') # returns the index of the element

2

In [42]:
tup7 = (4,2,5,6,1,10)

In [43]:
sorted(tup7)  #sorts the elements of the tuple in ascending order

[1, 2, 4, 5, 6, 10]

In [44]:
sorted(tup7, reverse=True) #sorts the elements of the tuple in descending order

[10, 6, 5, 4, 2, 1]

In [45]:
tup8 = (1,5,3,4,10,'one','two')

In [46]:
tup8

(1, 5, 3, 4, 10, 'one', 'two')

In [47]:
sorted(tup8)  #sorting can be applied only between similar data types

TypeError: '<' not supported between instances of 'str' and 'int'